@charset "UTF-8";

html {
  font-size: 100%;
}
body {
	background-color: #eff;
}
h2 {
	font-size: 18px
}
.container {
	max-width: 1000px;
	margin: 0 auto;
}
img {
	max-width: 100%;
}
/*mainvisual*/
#mainvisual {
	margin-bottom: 50px;
}
/*header*/
header h1 {
	width: 160px;
	margin: 50px 0 5px;
}
header .site-title {
	line-height: 1px;
	margin-bottom: 15px
}
.inner {
	max-width: 600px;
	margin: 0 auto;
}
/*index*/
#index {
	background-color: white;
}
#index .section-title {
	padding: 1rem 0;
}
#index ol {
	padding-bottom: 1rem;

}
#index li {
	margin: 0 0 1rem 1.5rem;
	font-size: 0.9rem
}
#index li:last-child: {
	margin-bottom: 0;
}
/*detail*/
#detail .section-title {
	margin: 50px 0 10px;
}
#detail .content {
	display: flex;
}
#detail img {
	width:270px;
	margin-right: 60px;
}
#detail dl {
	display: flex;
	flex-wrap: wrap;
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;
	padding: 1rem 0;
	margin: 1rem 0;
}
#detail dt {
	width: 25%;
}
#detail dd {
	width: 75%
}
#detail .text {
	width: 50%;
	font-size: 0.9rem
}
#detail p {
	margin-bottom: 1.5rem
}
#detail a {
	color: inherit;
}
#detail a:hover {
	opacity: 0.7;
}
#footer {
	font-size: 0.5rem;
	margin-top: 50px
}
@media screen and (max-width: 1024px) {
	.inner {
		padding: 0 40px;
	}
	.container {
		padding: 0 10px;
	}
	/*detail*/
	#detail .content {
		flex-direction: column;
	}
	#detail img {
		width: 100%;
	}
	#detail .text {
		width: 100%
		margin-top: 1rem;
	}
}
